.idea/
.gradle/
build/
out/
radleVersion=3.3/
*.iml
*.class
zxd-apply-core/disconf/
zxd-apply-core/build/
zxd-apply-core/generated/
zxd-apply-core/generated_tests/
zxd-apply-core/coverage-report/
zxd-apply-facade/build/
zxd-apply-facade/generated/
zxd-apply-facade/generated_tests/
