<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhixindu.apply.core.apply.dao.ApplyMapper">
    <resultMap id="BaseResultMap" type="com.zhixindu.apply.core.apply.po.ApplyPO">
        <id column="apply_id" jdbcType="INTEGER" property="apply_id"/>
        <result column="apply_id" jdbcType="INTEGER" property="apply_id"/>
        <result column="customer_id" jdbcType="VARCHAR" property="customer_id"/>
        <result column="open_id" jdbcType="VARCHAR" property="open_id"/>
        <result column="product_id" jdbcType="VARCHAR" property="product_id" />
        <result column="apply_no" jdbcType="VARCHAR" property="apply_no"/>
        <result column="loan_amount" jdbcType="DECIMAL" property="loan_amount"/>
        <result column="loan_term" jdbcType="INTEGER" property="loan_term"/>
        <result column="term_unit" jdbcType="INTEGER" property="term_unit" typeHandler="com.zhixindu.commons.handler.type.EnumValueTypeHandler"/>
        <result column="interest_rate" jdbcType="INTEGER" property="interest_rate"/>
        <result column="loan_interest" jdbcType="DECIMAL" property="loan_interest"/>
        <result column="platform_manage_fee" jdbcType="DECIMAL" property="platform_manage_fee"/>
        <result column="total_fee" jdbcType="DECIMAL" property="total_fee"/>
        <result column="repayment_amount" jdbcType="DECIMAL" property="repayment_amount"/>
        <result column="account_amount" jdbcType="DECIMAL" property="account_amount"/>
        <result column="receipt_card_number" jdbcType="VARCHAR" property="receipt_card_number"/>
        <result column="apply_time" jdbcType="TIMESTAMP" property="apply_time" />
        <result column="apply_status" jdbcType="INTEGER" property="apply_status" typeHandler="com.zhixindu.commons.handler.type.EnumValueTypeHandler"/>
        <result column="credit_code" jdbcType="VARCHAR" property="credit_code" />
        <result column="credit_score" jdbcType="INTEGER" property="credit_score" />
        <result column="credit_memo" jdbcType="VARCHAR" property="credit_memo" />
    </resultMap>

    <sql id="Base_Column_List">
        apply_id, apply_id, customer_id, open_id, product_id, apply_no, loan_amount, loan_term, term_unit,
        interest_rate, loan_interest, platform_manage_fee, total_fee, repayment_amount, account_amount,
        receipt_card_number, apply_time, apply_status, credit_code, credit_score, credit_memo
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from apply
        where apply_id = #{apply_id,jdbcType=INTEGER}
    </select>

    <insert id="insert" parameterType="com.zhixindu.apply.core.apply.po.ApplyPO">
        <selectKey keyProperty="apply_id" resultType="int" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
        insert into apply (apply_id, customer_id, open_id, product_id,
        apply_no, loan_amount, loan_term, term_unit,
        interest_rate, loan_interest, platform_manage_fee,
        total_fee, repayment_amount, account_amount,
        receipt_card_number, apply_time, apply_status,
        credit_code, credit_score, credit_memo)
        values (#{apply_id,jdbcType=INTEGER}, #{customer_id,jdbcType=VARCHAR}, #{open_id,jdbcType=VARCHAR},
        #{product_id,jdbcType=VARCHAR}, #{apply_no,jdbcType=VARCHAR}, #{loan_amount,jdbcType=DECIMAL},
        #{loan_term,jdbcType=INTEGER},
        #{term_unit,jdbcType=INTEGER,typeHandler=com.zhixindu.commons.handler.type.EnumValueTypeHandler},
        #{interest_rate,jdbcType=INTEGER}, #{loan_interest,jdbcType=DECIMAL}, #{platform_manage_fee,jdbcType=DECIMAL},
        #{total_fee,jdbcType=DECIMAL}, #{repayment_amount,jdbcType=DECIMAL}, #{account_amount,jdbcType=DECIMAL},
        #{receipt_card_number,jdbcType=VARCHAR}, #{apply_time,jdbcType=TIMESTAMP},
        #{apply_status,jdbcType=INTEGER,typeHandler=com.zhixindu.commons.handler.type.EnumValueTypeHandler},
        #{credit_code,jdbcType=VARCHAR}, #{credit_score,jdbcType=INTEGER}, #{credit_memo,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.zhixindu.apply.core.apply.po.ApplyPO">
        <selectKey keyProperty="apply_id" resultType="int" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
        insert into apply
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="apply_id != null">
                apply_id,
            </if>
            <if test="customer_id != null">
                customer_id,
            </if>
            <if test="open_id != null">
                open_id,
            </if>
            <if test="product_id != null">
                product_id,
            </if>
            <if test="apply_no != null">
                apply_no,
            </if>
            <if test="loan_amount != null">
                loan_amount,
            </if>
            <if test="loan_term != null">
                loan_term,
            </if>
            <if test="term_unit != null">
                term_unit,
            </if>
            <if test="interest_rate != null">
                interest_rate,
            </if>
            <if test="loan_interest != null">
                loan_interest,
            </if>
            <if test="platform_manage_fee != null">
                platform_manage_fee,
            </if>
            <if test="total_fee != null">
                total_fee,
            </if>
            <if test="repayment_amount != null">
                repayment_amount,
            </if>
            <if test="account_amount != null">
                account_amount,
            </if>
            <if test="receipt_card_number != null">
                receipt_card_number,
            </if>
            <if test="apply_time != null">
                apply_time,
            </if>
            <if test="apply_status != null">
                apply_status,
            </if>
            <if test="credit_code != null">
                credit_code,
            </if>
            <if test="credit_score != null">
                credit_score,
            </if>
            <if test="credit_memo != null">
                credit_memo,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="apply_id != null">
                #{apply_id,jdbcType=INTEGER},
            </if>
            <if test="customer_id != null">
                #{customer_id,jdbcType=VARCHAR},
            </if>
            <if test="open_id != null">
                #{open_id,jdbcType=VARCHAR},
            </if>
            <if test="product_id != null">
                #{product_id,jdbcType=VARCHAR},
            </if>
            <if test="apply_no != null">
                #{apply_no,jdbcType=VARCHAR},
            </if>
            <if test="loan_amount != null">
                #{loan_amount,jdbcType=DECIMAL},
            </if>
            <if test="loan_term != null">
                #{loan_term,jdbcType=INTEGER},
            </if>
            <if test="term_unit != null">
                #{term_unit,jdbcType=INTEGER,typeHandler=com.zhixindu.commons.handler.type.EnumValueTypeHandler},
            </if>
            <if test="interest_rate != null">
                #{interest_rate,jdbcType=INTEGER},
            </if>
            <if test="loan_interest != null">
                #{loan_interest,jdbcType=DECIMAL},
            </if>
            <if test="platform_manage_fee != null">
                #{platform_manage_fee,jdbcType=DECIMAL},
            </if>
            <if test="total_fee != null">
                #{total_fee,jdbcType=DECIMAL},
            </if>
            <if test="repayment_amount != null">
                #{repayment_amount,jdbcType=DECIMAL},
            </if>
            <if test="account_amount != null">
                #{account_amount,jdbcType=DECIMAL},
            </if>
            <if test="receipt_card_number != null">
                #{receipt_card_number,jdbcType=VARCHAR},
            </if>
            <if test="apply_time != null">
                #{apply_time,jdbcType=TIMESTAMP},
            </if>
            <if test="apply_status != null">
                #{apply_status,jdbcType=INTEGER,typeHandler=com.zhixindu.commons.handler.type.EnumValueTypeHandler},
            </if>
            <if test="credit_code != null">
                #{credit_code,jdbcType=VARCHAR},
            </if>
            <if test="credit_score != null">
                #{credit_score,jdbcType=INTEGER},
            </if>
            <if test="credit_memo != null">
                #{credit_memo,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.zhixindu.apply.core.apply.po.ApplyPO">
        update apply
        <set>
            <if test="apply_id != null">
                apply_id = #{apply_id,jdbcType=INTEGER},
            </if>
            <if test="customer_id != null">
                customer_id = #{customer_id,jdbcType=VARCHAR},
            </if>
            <if test="open_id != null">
                open_id = #{open_id,jdbcType=VARCHAR},
            </if>
            <if test="product_id != null">
                product_id = #{product_id,jdbcType=VARCHAR},
            </if>
            <if test="apply_no != null">
                apply_no = #{apply_no,jdbcType=VARCHAR},
            </if>
            <if test="loan_amount != null">
                loan_amount = #{loan_amount,jdbcType=DECIMAL},
            </if>
            <if test="loan_term != null">
                loan_term = #{loan_term,jdbcType=INTEGER},
            </if>
            <if test="term_unit != null">
                term_unit = #{term_unit,jdbcType=INTEGER,typeHandler=com.zhixindu.commons.handler.type.EnumValueTypeHandler},
            </if>
            <if test="interest_rate != null">
                interest_rate = #{interest_rate,jdbcType=INTEGER},
            </if>
            <if test="loan_interest != null">
                loan_interest = #{loan_interest,jdbcType=DECIMAL},
            </if>
            <if test="platform_manage_fee != null">
                platform_manage_fee = #{platform_manage_fee,jdbcType=DECIMAL},
            </if>
            <if test="total_fee != null">
                total_fee = #{total_fee,jdbcType=DECIMAL},
            </if>
            <if test="repayment_amount != null">
                repayment_amount = #{repayment_amount,jdbcType=DECIMAL},
            </if>
            <if test="account_amount != null">
                account_amount = #{account_amount,jdbcType=DECIMAL},
            </if>
            <if test="receipt_card_number != null">
                receipt_card_number = #{receipt_card_number,jdbcType=VARCHAR},
            </if>
            <if test="apply_time != null">
                apply_time = #{apply_time,jdbcType=TIMESTAMP},
            </if>
            <if test="apply_status != null">
                apply_status = #{apply_status,jdbcType=INTEGER,typeHandler=com.zhixindu.commons.handler.type.EnumValueTypeHandler},
            </if>
            <if test="credit_code != null">
                credit_code = #{credit_code,jdbcType=VARCHAR},
            </if>
            <if test="credit_score != null">
                credit_score = #{credit_score,jdbcType=INTEGER},
            </if>
            <if test="credit_memo != null">
                credit_memo = #{credit_memo,jdbcType=VARCHAR},
            </if>
        </set>
        where apply_id = #{apply_id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.zhixindu.apply.core.apply.po.ApplyPO">
        update apply
        set apply_id = #{apply_id,jdbcType=INTEGER},
        customer_id = #{customer_id,jdbcType=VARCHAR},
        open_id = #{open_id,jdbcType=VARCHAR},
        product_id = #{product_id,jdbcType=VARCHAR},
        apply_no = #{apply_no,jdbcType=VARCHAR},
        loan_amount = #{loan_amount,jdbcType=DECIMAL},
        loan_term = #{loan_term,jdbcType=INTEGER},
        term_unit = #{term_unit,jdbcType=INTEGER,typeHandler=com.zhixindu.commons.handler.type.EnumValueTypeHandler},
        interest_rate = #{interest_rate,jdbcType=INTEGER},
        loan_interest = #{loan_interest,jdbcType=DECIMAL},
        platform_manage_fee = #{platform_manage_fee,jdbcType=DECIMAL},
        total_fee = #{total_fee,jdbcType=DECIMAL},
        repayment_amount = #{repayment_amount,jdbcType=DECIMAL},
        account_amount = #{account_amount,jdbcType=DECIMAL},
        receipt_card_number = #{receipt_card_number,jdbcType=VARCHAR},
        apply_time = #{apply_time,jdbcType=TIMESTAMP},
        apply_status = #{apply_status,jdbcType=INTEGER,typeHandler=com.zhixindu.commons.handler.type.EnumValueTypeHandler},
        credit_code = #{credit_code,jdbcType=VARCHAR},
        credit_score = #{credit_score,jdbcType=INTEGER},
        credit_memo = #{credit_memo,jdbcType=VARCHAR}
        where apply_id = #{apply_id,jdbcType=INTEGER}
    </update>

    <select id="selectLatestReviewByApplicantId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from apply
        where apply_id = #{apply_id,jdbcType=INTEGER}
        and apply_status = 1
        order by apply_time desc limit 0,1
    </select>

    <sql id="whereSql">
        <where>
            and ap.apply_status != -1
            <if test="mobile != null"> AND le.mobile=#{mobile}</if>
            <if test="id_card != null"> AND le.id_card=#{id_card}</if>
            <if test="apply_id != null"> AND le.apply_id=#{apply_id}</if>
            <if test="apply_status != null"> AND ap.apply_status=#{apply_status,typeHandler=com.zhixindu.commons.handler.type.EnumValueTypeHandler} </if>
            <if test="apply_start_time != null"> AND ap.apply_time &gt; #{apply_start_time}</if>
            <if test="apply_end_time != null"> AND ap.apply_time &lt; #{apply_end_time}</if>
        </where>
    </sql>

    <resultMap id="ApplyMgtBOResultMap" type="com.zhixindu.apply.facade.apply.bo.ApplyMgtBO">
        <id column="apply_id" jdbcType="INTEGER" property="apply_id"/>
        <result column="apply_id" jdbcType="INTEGER" property="apply_id"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="id_card" jdbcType="VARCHAR" property="id_card"/>
        <result column="loan_amount" jdbcType="DECIMAL" property="loan_amount"/>
        <result column="apply_time" jdbcType="TIMESTAMP" property="apply_time" />
        <result column="apply_status" jdbcType="INTEGER" property="apply_status" typeHandler="com.zhixindu.commons.handler.type.EnumValueTypeHandler"/>
    </resultMap>

    <select id="selectListForMgtByPage" parameterType="com.zhixindu.apply.facade.apply.bo.ApplyMgtPageParam" resultMap="ApplyMgtBOResultMap">
        select
        ap.apply_id as apply_id,
        le.apply_id as apply_id,
        le.mobile as mobile,
        le.name as name,
        le.id_card as id_card,
        ap.loan_amount as loan_amount,
        ap.apply_status as apply_status,
        ap.apply_time as apply_time
        from apply ap
        LEFT JOIN applicant le ON le.apply_id= ap.apply_id
        <include refid="whereSql"/>
        ORDER BY ap.apply_time DESC
    </select>

    <select id="selectListByPage" parameterType="com.zhixindu.apply.facade.apply.bo.ApplyPageParam" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from apply
        where customer_id = #{customerId,jdbcType=VARCHAR}
        ORDER BY apply_time DESC
    </select>

    <select id="selectApplicantIdByPrimaryKey" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select
        apply_id
        from apply
        where apply_id = #{apply_id,jdbcType=INTEGER}
        order by apply_time desc limit 0,1
    </select>

    <select id="selectPreparePrimaryKeyByApplicantId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select
        apply_id
        from apply
        where apply_id = #{apply_id,jdbcType=INTEGER}
        and apply_status = -1
        order by apply_time desc limit 0,1
    </select>

    <select id="countNotSettledApply" parameterType="java.lang.Integer" resultType="int">
        select
        count(apply_id)
        from apply
        where apply_id = #{apply_id,jdbcType=INTEGER}
        and apply_status in(0,1,2,4,5,7)
    </select>

    <select id="selectLatestByApplicantId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from apply
        where apply_id = #{apply_id,jdbcType=INTEGER}
        order by apply_time DESC
        limit 0,1
    </select>

    <select id="selectLastApplyTime" parameterType="java.lang.Integer" resultType="java.util.Date">
        select
        apply_time
        from apply
        where apply_id = #{apply_id,jdbcType=INTEGER}
        order by apply_time desc limit 0,1
    </select>

    <update id="updateStatusByPrimaryKey" parameterType="com.zhixindu.apply.facade.apply.bo.ApplyStatusBO">
      update apply
        set apply_status = #{apply_status,jdbcType=INTEGER,typeHandler=com.zhixindu.commons.handler.type.EnumValueTypeHandler}
        where apply_id = #{apply_id,jdbcType=INTEGER}
    </update>

    <update id="updateCreditByPrimaryKey" parameterType="com.zhixindu.apply.facade.apply.bo.ApplyCreditBO">
      update apply
        set apply_status = #{apply_status,jdbcType=INTEGER,typeHandler=com.zhixindu.commons.handler.type.EnumValueTypeHandler},
          credit_code = #{credit_code,jdbcType=VARCHAR},
          credit_score = #{credit_score,jdbcType=INTEGER},
          credit_memo = #{credit_memo,jdbcType=VARCHAR}
        where apply_id = #{apply_id,jdbcType=INTEGER}
    </update>

</mapper>