<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhixindu.apply.core.apply.dao.ApplyContactMapper">
    <resultMap id="BaseResultMap" type="com.zhixindu.apply.core.apply.po.ApplyContactPO">
        <id column="contact_id" jdbcType="INTEGER" property="contact_id"/>
        <result column="apply_id" jdbcType="INTEGER" property="apply_id"/>
        <result column="applicant_id" jdbcType="INTEGER" property="applicant_id"/>
        <result column="contact_relationship" jdbcType="INTEGER" property="contact_relationship" typeHandler="com.zhixindu.commons.handler.type.EnumValueTypeHandler"/>
        <result column="contact_name" jdbcType="VARCHAR" property="contact_name"/>
        <result column="contact_mobile" jdbcType="VARCHAR" property="contact_mobile"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="create_time" />
        <result column="update_time" jdbcType="TIMESTAMP" property="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        contact_id, apply_id, applicant_id, contact_relationship, contact_name, contact_mobile, create_time, update_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from apply_contact
        where contact_id = #{contact_id,jdbcType=INTEGER}
    </select>

    <insert id="insert" parameterType="com.zhixindu.apply.core.apply.po.ApplyContactPO">
        <selectKey keyProperty="contact_id" resultType="int" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
        insert into apply_contact (apply_id, applicant_id, contact_relationship, contact_name, contact_mobile,
        create_time, update_time)
        values (#{apply_id,jdbcType=INTEGER}, #{applicant_id,jdbcType=INTEGER},
        #{contact_relationship,typeHandler=com.zhixindu.commons.handler.type.EnumValueTypeHandler},
        #{contact_name,jdbcType=VARCHAR}, #{contact_mobile,jdbcType=VARCHAR}, #{create_time,jdbcType=TIMESTAMP}
        , #{update_time,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" parameterType="com.zhixindu.apply.core.apply.po.ApplyContactPO">
        <selectKey keyProperty="contact_id" resultType="int" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
        insert into apply_contact
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="apply_id != null">
                apply_id,
            </if>
            <if test="applicant_id != null">
                applicant_id,
            </if>
            <if test="contact_relationship != null">
                contact_relationship,
            </if>
            <if test="contact_name != null">
                contact_name,
            </if>
            <if test="contact_mobile != null">
                contact_mobile,
            </if>
            <if test="create_time != null">
                create_time,
            </if>
            <if test="update_time != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="apply_id != null">
                #{apply_id,jdbcType=INTEGER},
            </if>
            <if test="applicant_id != null">
                #{applicant_id,jdbcType=INTEGER},
            </if>
            <if test="contact_relationship != null">
                #{contact_relationship,typeHandler=com.zhixindu.commons.handler.type.EnumValueTypeHandler},
            </if>
            <if test="contact_name != null">
                #{contact_name,jdbcType=VARCHAR},
            </if>
            <if test="contact_mobile != null">
                #{contact_mobile,jdbcType=VARCHAR},
            </if>
            <if test="create_time != null">
                #{create_time,jdbcType=TIMESTAMP},
            </if>
            <if test="update_time != null">
                #{update_time,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.zhixindu.apply.core.apply.po.ApplyContactPO">
        update apply_contact
        <set>
            <if test="apply_id != null">
                apply_id = #{apply_id,jdbcType=INTEGER},
            </if>
            <if test="applicant_id != null">
                applicant_id = #{applicant_id,jdbcType=INTEGER},
            </if>
            <if test="contact_relationship != null">
                contact_relationship = #{contact_relationship,typeHandler=com.zhixindu.commons.handler.type.EnumValueTypeHandler},
            </if>
            <if test="contact_name != null">
                contact_name = #{contact_name,jdbcType=VARCHAR},
            </if>
            <if test="contact_mobile != null">
                contact_mobile = #{contact_mobile,jdbcType=VARCHAR},
            </if>
            <if test="create_time != null">
                create_time = #{create_time,jdbcType=TIMESTAMP},
            </if>
            <if test="update_time != null">
                update_time = #{update_time,jdbcType=TIMESTAMP},
            </if>
        </set>
        where contact_id = #{contact_id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.zhixindu.apply.core.apply.po.ApplyContactPO">
        update apply_contact
        set apply_id = #{apply_id,jdbcType=INTEGER},
            applicant_id = #{applicant_id,jdbcType=INTEGER},
            contact_relationship = #{contact_relationship,typeHandler=com.zhixindu.commons.handler.type.EnumValueTypeHandler},
            contact_name = #{contact_name,jdbcType=VARCHAR},
            contact_mobile = #{contact_mobile,jdbcType=VARCHAR},
            create_time = #{create_time,jdbcType=TIMESTAMP},
            update_time = #{update_time,jdbcType=TIMESTAMP}
        where contact_id = #{contact_id,jdbcType=INTEGER}
    </update>

    <select id="selectLatestByApplicantId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from apply_contact
        where apply_id = (
        select apply_id from apply_contact
        where applicant_id = #{applicant_id,jdbcType=INTEGER}
        group by apply_id, create_time
        order by create_time desc
        limit 0,1
        ) limit 0,2
    </select>

    <select id="selectPrimaryKeyByApplyId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select
        contact_id
        from apply_contact
        where apply_id = #{apply_id,jdbcType=INTEGER}
    </select>

    <select id="selectByApplyId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from apply_contact
        where apply_id = #{apply_id,jdbcType=INTEGER}
    </select>

    <select id="countByApplyId" parameterType="java.lang.Integer" resultType="int">
        select
        count(contact_id)
        from apply_contact
        where apply_id = #{apply_id,jdbcType=INTEGER}
    </select>

</mapper>