<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhixindu.apply.core.lenderInfoBO.dao.AddressMapper">
    <resultMap id="BaseResultMap" type="com.zhixindu.apply.facade.lender.bo.AddressBO">
        <id column="address_id" jdbcType="INTEGER" property="address_id"/>
        <result column="lender_id" jdbcType="INTEGER" property="lender_id"/>
        <result column="home_address_code" jdbcType="INTEGER" property="home_address_code"/>
        <result column="home_address" jdbcType="VARCHAR" property="home_address"/>
        <result column="work_state" jdbcType="INTEGER" property="work_state" typeHandler="com.zhixindu.commons.handler.type.EnumValueTypeHandler"/>
        <result column="company_name" jdbcType="VARCHAR" property="company_name"/>
        <result column="company_address_code" jdbcType="INTEGER" property="company_address_code"/>
        <result column="company_address" jdbcType="VARCHAR" property="company_address"/>
    </resultMap>

    <sql id="Base_Column_List">
      address_id, lender_id, home_address_code, home_address, work_state, company_name,
      company_address_code, company_address
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from lender_address
        where address_id = #{address_id,jdbcType=INTEGER}
    </select>

    <insert id="insert" parameterType="com.zhixindu.apply.facade.lender.bo.AddressBO">
        <selectKey keyProperty="address_id" resultType="int" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
        insert into lender_address (lender_id, home_address_code,
          home_address, work_state, company_name,
          company_address_code, company_address)
        values (#{lender_id,jdbcType=INTEGER}, #{home_address_code,jdbcType=INTEGER},
          #{home_address,jdbcType=VARCHAR}, #{work_state,jdbcType=INTEGER}, #{company_name,jdbcType=VARCHAR},
          #{company_address_code,jdbcType=INTEGER}, #{company_address,jdbcType=VARCHAR})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.zhixindu.apply.facade.lender.bo.AddressBO">
        update lender_address
        set lender_id = #{lender_id,jdbcType=INTEGER},
          home_address_code = #{home_address_code,jdbcType=INTEGER},
          home_address = #{home_address,jdbcType=VARCHAR},
          work_state = #{work_state,jdbcType=INTEGER},
          company_name = #{company_name,jdbcType=VARCHAR},
          company_address_code = #{company_address_code,jdbcType=INTEGER},
          company_address = #{company_address,jdbcType=VARCHAR}
        where address_id = #{address_id,jdbcType=INTEGER}
    </update>

    <select id="selectByLenderId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from lender_address
        where lender_id = #{lender_id,jdbcType=INTEGER} limit 0,1
    </select>


</mapper>